# Email configuration
EMAIL_ADDRESS = "your@email.com"
EMAIL_PASSWORD = "yourpassword" #If you use Gmail SMTP, EMAIL_PASSWORD usually needs to be a Google App Password, not your normal Gmail password.

# URL
DEV_URL_FRONTEND="http://localhost:5173"
DEV_URL_BACKEND="http://localhost:5000"

# CORS ORIGINS
CORS_ORIGINS = ["http://localhost:5173", "http://127.0.0.1:5173"]

# FLASK
SECRET_KEY = "SHJHVhsk-jhw-569544-5h6sdf-5h6sdf-5h6sdf" 