# Email configuration (If you use Gmail SMTP, EMAIL_PASSWORD usually needs to be a Google App Password, not your normal Gmail password)
EMAIL_ADDRESS="your@email.com"
EMAIL_PASSWORD="yourpassword"
MAIL_DEFAULT_SENDER="your@email.com"

# CORS ORIGINS (add your domain here)
CORS_ORIGINS='["https://www.yourdomain.com","http://localhost:5173","http://127.0.0.1:5173"]'

# FLASK
SECRET_KEY="SHJHVhsk-jhw-569544-5h6sdf-5h6sdf-5h6sdf" 

# RATE LIMITER: REDIS
RATELIMIT_REDIS_URL="redis://localhost:6379/1"